#ft1{
    width:95%;
    height:180px;
    margin: auto;
    margin-top: 20px;
    display: flex;
   
}
#ft11{
    width: 30%;
    height: 100%;
    border: 1px solid wheat;
    text-align: center;
}
#ft12{
    width: 70%;
    height: 100%;
    border: 1px solid wheat;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#ft11>img{
    width:20%;
  
    margin-top: 20px;
}

#ft12>div>img{
    width: 35%;
    margin-top: 20px;
}
#ft2{
    width:95%;
    height:200px;
    margin: auto;
    display: flex;
    border: 1px solid wheat;
    justify-content: space-between;
}
#ft21{
    margin-left: 40px;
}
#ft21>div>img{
    width:80px;
    margin-left:15px;
}
#ft22{
    display: flex;
}
#ft22>div{
    margin-top:30px;
    margin-right: 60px;
    text-align: center;
}
#ft22>div>img{
    width:100px;
}
#ft3{
    width:95%;
    height:500px;
    margin: auto;
    display: flex;
    border: 1px solid wheat;
}
#ft3>div{
    flex: 1;
    text-align: center;
}
#ft3>div>img{
    width:80%;
    height: 70%;
    margin-top:10px;
}
#ft3>div>p{
    font-size:20px;
    color: teal;
}
#ft4{
    width:95%;
    height:130px;
    margin: auto;
    border: 1px solid wheat;
    text-align: center;
}
#ft4>div{
    width:30%;
    height:60px;
    margin: auto;
    display: flex;
}

#ft4>div>div>a{
    margin-left:42px;
    font-size:30px;
    color: teal;
}
#ft5{
    width:95%;
    height:60px;
    margin: auto;
    border: 1px solid wheat;
    text-align: center;
}
#ft6{
    width:95%;
    height:60px;
    margin: auto;
}